@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 241, 245, 249;
  --background-rgb: 15, 23, 42;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}
